@import '../../../../../../projects/uniform/src/lib/core/styles/animations';
@import '../../../../../styles/colors';

$max-width: 500px;

:host {
  display: flex;
  padding: 10px 15px;
  margin: 10px 5px;
  border-radius: 4px;
  background-color: $dark-grey;
  box-shadow: 12px 0 0 -8px var(--primary) inset;
  transition-duration: $uni-animation-duration;
  transition-timing-function: $uni-animation-timing-function;
  outline: none;

  &:hover {
    filter: brightness(1.2);
  }

  &.success {
    box-shadow: 12px 0 0 -8px $green inset;
  }

  &.warning {
    box-shadow: 12px 0 0 -8px $yellow inset;
  }

  &.danger {
    box-shadow: 12px 0 0 -8px $red inset;
  }

  ::ng-deep a {
    color: var(--white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .search-result--description {
    flex: 1 1 auto;

    .search-result--title {
      font-size: 15pt;
      max-width: $max-width;

      .muted {
        font-size: 11pt;
      }
    }

    .search-result--subtitle {
      font-size: 11pt;
      max-width: $max-width;
      opacity: 0.9;
    }

    .search-result--keywords {
      font-size: 9pt;
      opacity: 0.8;
      max-width: $max-width;

      uni-icon {
        font-size: 9pt;
        margin-right: 5px;
      }
    }

    .search-result--update {
      display: flex;
      font-size: 10pt;
      max-width: $max-width;

      ::ng-deep a {
        display: flex;
        color: inherit;
        font-weight: 600;
        letter-spacing: 1px;

        img {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  .search-result--score {
    margin: auto 0 auto 5px;
  }
}
