@import '../../../../../styles/colors';

$outline: 0 0 0 2pt;

:host {
  display: inherit;
  margin: auto 0;

  .user--icon {
    height: 35px;
    border-radius: 100px;
    cursor: pointer;
    margin: auto;

    &:hover {
      box-shadow: $outline var(--primary);
    }
  }
}

.popover {
  .popover--title {
    padding: 10px 15px;
    background-color: $light-black;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .popover--button {
    display: flex;
    padding: 5px 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;

    &:hover {
      background-color: var(--primary);
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    uni-icon {
      margin-right: 15px;
      font-size: 15px;
    }

    span {
      margin: auto;
      font-size: 14px
    }
  }
}
