@import '../../../../../styles/colors';

:host {
  display: block;

  &.has-popover {
    cursor: pointer;
  }

  &.success {
    uni-icon {
      color: $green;
    }
  }

  &.warning {
    uni-icon {
      color: $yellow;
    }
  }

  &.danger {
    uni-icon {
      color: $red;
    }

    .score-icon--score {
      color: var(--white) !important;
    }
  }

  .score-icon--container {
    uni-icon {
      font-size: 25pt;
    }

    .score-icon--score {
      position: absolute;
      width: 17px;
      text-align: center;
      font-size: 10pt;
      margin-left: -25px;
      margin-top: 15px;
      color: var(--black);
    }
  }
}
