@import '../../projects/uniform/src/lib/core/styles/arrow';
@import './colors';

.uni-popover-panel {
  .uni-popover {
    background-color: $dark-grey;
    border-color: $dark-grey;
    color: $white;

    @include uni-arrow($dark-grey, $dark-grey);
  }
}

.uni-dialog-container {
  background-color: $dark-grey !important;
}
