@import '../../../styles/colors';

$toolbar-height: 73px;

:host {
  display: block;
  height: 100%;

  uni-toolbar {
    z-index: 10;
    position: fixed;
    background-color: $black;
    top: 0;
    width: 100%;

    app-search-input {
      width: 50%;
      max-width: 500px;

      ::ng-deep uni-form-field {
        input {
          font-size: 11pt;
          min-width: initial;
        }

        uni-icon {
          font-size: 13px;
        }
      }
    }
  }

  .search--results {
    padding: $toolbar-height 10px 0 10px;
    overflow-y: auto;
  }
}
