@import '../../../styles/colors';

$border-width: -8px;

:host {
  display: block;
  height: 100%;

  uni-sidenav-container {
    height: 100%;

    uni-sidenav-content {
      background-color: $black;
    }

    uni-sidenav {
      background-color: $dark-grey;

      .route {
        padding: 5px 10px;
        opacity: 0.5;
        outline: none;
        box-shadow: 12px 0 0 $border-width rgba(0, 0, 0, 0) inset;
        transition: 0.2s ease-in-out;

        &.route--active {
          opacity: 1;
          box-shadow: 12px 0 0 $border-width var(--primary) inset;

          button {
            color: var(--primary);
          }
        }
      }
    }
  }
}
