@import '~@angular/cdk/overlay';

@import '../projects/uniform/src/lib/core/styles/animations';
@import './styles/index';

@include cdk-overlay();

html, body {
  height: 100%;
  margin: 0;
  color: $white;
  font-family: 'Titillium Web', sans-serif;
  background-color: $black;
}

.muted {
  color: #797979;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: $uni-animation-duration;
  transition-timing-function: $uni-animation-timing-function;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
