<div class="center">
  <app-search-input
    [query]="search.query$ | async"
    [size]="5"
    (changed)="onChanged($event)"
    (search)="onSearch($event)"
  ></app-search-input>

  <ng-container *ngIf="search.loading$ | async; else resultsTpl">
    <div class="progress">
      <uni-progress-spinner
        diameter="150"
        strokeWidth="10"
      ></uni-progress-spinner>
    </div>
  </ng-container>

  <a
    class="show-more--button"
    *ngIf="(search.results$ | async)?.total > 5"
    [routerLink]="['/search']"
    [queryParams]="{ q: (search.query$ | async)?.q, size: 20 }"
  >Show More...</a>
</div>

<ng-template #resultsTpl>
  <app-search-result
    *ngFor="let result of (search.results$ | async)?.results"
    [value]="result"
  ></app-search-result>
</ng-template>
