:host {
  display: block;
  height: 100%;

  .show-more--button {
    float: right;
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .progress {
    text-align: center;
    margin: 215px 20px;
  }

  .center {
    app-search-input {
      ::ng-deep uni-form-field {
        uni-icon {
          margin-left: 0;
          position: absolute;
          right: 20px;
        }
      }
    }
  }
}
