:host {
  display: block;
  height: 100%;

  .show-more--button {
    float: right;
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .progress {
    text-align: center;
    margin: 215px 20px;
  }
}
